{% extends 'main/base.jinja' %}


{% block title %}Приложение к лицензии{% endblock %}


{% block main %}
    <h2 class="h1 text-center">Приложение №1 к Лицензии на товарный знак «Шаурмания»</h2>

    <div class="block-document">
        <p><b>Об утверждении и защите рецептур «невозможных» видов шаурмы</b></p>
        
        <p>Настоящим Приложением владелец товарного знака уполномочивает пользователя на разработку, производство и сбыт
        шаурмы, рецептура которой выходит за рамки обыденного понимания, включая, но не ограничиваясь, следующие виды
        продукции, что демонстрирует инновационный подход к кулинарному искусству и открывает новые горизонты в
        создании гастрономических изысков.</p>
        
        <p><b>Виды «невозможной» шаурмы:</b></p>
		
        <ul>
            <li>Шаурма с использованием ингредиентов, не известных земной науке, что подразумевает использование
            экзотических и уникальных компонентов, способных преобразить вкусовые качества блюда.</li>
            <li>Шаурма, обладающая свойствами, нарушающими законы физики (временная антигравитация, обратимость
            времени жевания), что представляет собой революционный подход к приготовлению пищи и демонстрирует
            нестандартное мышление в кулинарии.</li>
            <li>Шаурма, предназначенная для представителей иных цивилизаций и биологических видов, что расширяет
            границы обычного понимания кулинарии и способствует межгалактическому культурному обмену.</li>
        </ul>
        
        <p>Данные рецептуры являются ноу-хау «Шаурмании» и защищаются Межгалактической конвенцией об интеллектуальной
        собственности от 14-го года V пятилетки. Владелец товарного знака оставляет за собой все права на эти
        инновационные разработки и требует соблюдения условий их использования в соответствии с действующим
        законодательством и международными соглашениями.</p>
    </div>
{% endblock %}
