{% extends 'main/base.jinja' %}


{% block title %}Кодекс Шаурмиста{% endblock %}


{% block main %}
    <h2 class="h1 text-center">Кодекс Шаурмиста «Шаурмания»</h2>

    <div class="block-document">
        <p>Каждый сотрудник «Шаурмании», от Повара-Революционера до Курьера-Интернационалиста, обязуется соблюдать
        следующие догмы, которые являются основополагающими принципами работы предприятия и определяют стандарты
        качества, скорости и инновационности предоставляемых услуг. Соблюдение этих принципов обеспечивает успешное
        развитие бизнеса и удовлетворение потребностей клиентов.</p>
    
        <p><b>Статья 1. Догма Качества</b></p>
        <p>Мясо должно быть свежим, овощи — хрустящими, лаваш — тёплым, а соус — огненным, как речь на партийном съезде.
        Никаких уступок врагу в виде несвежего продукта! Качество является краеугольным камнем всей деятельности
        «Шаурмании», и каждый сотрудник обязан обеспечивать высочайший уровень продукции, что является залогом успеха
        и доверия клиентов.</p>
    
        <p><b>Статья 2. Догма Скорости</b></p>
        <p>Шаурма должна быть приготовлена и доставлена с быстротой кавалерийской атаки Будённого. Промедление смерти
        подобно, но голодному клиенту — подобно вдвойне. Оперативность обслуживания является ключевым фактором
        удовлетворения потребностей клиентов и конкурентным преимуществом на рынке услуг доставки еды.</p>
    
        <p><b>Статья 3. Догма Инновации</b></p>
        <p>Мы не боимся экспериментировать. «Невозможная» шаурма — это наш ответ вызовам времени, наш кулинарный НЭП.
        Инновационный подход к созданию новых рецептов и технологий приготовления позволяет «Шаурмании» оставаться на
        передовых позициях в индустрии и удивлять клиентов новыми вкусовыми решениями.</p>
    
        <p><b>Статья 4. Догма Интернационализма</b></p>
        <p>Мы уважаем все кухни мира, но переплавляем их в нашем гриле для торжества шаурмы. Наш лозунг: «Шаурмисты
        всех стран, объединяйтесь!» Интернациональный подход к кулинарии демонстрирует уважение к различным культурам
        и способствует созданию уникальных вкусовых сочетаний, обогащающих гастрономический опыт наших клиентов.</p>
    
        <p><b>Статья 5. Догма Доставки</b></p>
        <p>Ни один заказ не должен быть потерян. Доставка осуществляется до квартиры, офиса, партийного собрания или
        указанной космической координаты. Надёжность доставки является неотъемлемой частью качества обслуживания и
        гарантией того, что каждый клиент получит свой заказ вовремя и в идеальном состоянии, независимо от места
        назначения.</p>
    
        <p>Утверждено Коллегией Вкуса и Политотделом «Шаурмании». Данный кодекс является обязательным для соблюдения
        всеми сотрудниками предприятия и отражает корпоративные ценности и стандарты работы организации.</p>
    </div>
{% endblock %}
