**/__pycache__
.coverage
.env
.idea
.pytest_cashe/
.venv
.vscode
coverage_html/
db.sqlite3
desktop.ini
docs_render/
logs/
media/CACHE/
media/chat/
media/files/
media/user/
static_root/CACHE/
temp/
test_db.sqlite3
test_media/