{% extends 'main/base.jinja' %}


{% block title %}
	Ошибка 404
{% endblock %}


{% block main %}
	<h1 class="h1 text-center font-comfortaa-500">Ошибка 404</h1>

	<h2 class="h2 text-center font-comfortaa-500">Страница не найдена</h2>
{% endblock %}
