.productCatalog{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    background-image: radial-gradient(orange, orangered);
    border-radius: 15px;
    margin: 5px;
}
.catalogPic{
    max-width: 500px;
    width: 100%;
    max-width: 350px;
    height: 190px;
}
.buy_button{
    grid-column: 1 / 3;
    text-align: center;
}
.productCatalog p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}