/* --------------------------------- global --------------------------------- */

/* ------------------------ body ------------------------ */

* {
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* ----------------------- header ----------------------- */

.header{
    background-color: var(--clr-orangered);
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.header__logo{
    font-family: "Consolas";
    font-style: italic;   
    color: var(--clr-logo);
    text-decoration: none;
}

/* ----------------------- footer ----------------------- */

.footer {
    width: calc(100% - 40px);
    background-color: var(--clr-orangered);
    position: relative;
    color: #000;
    border: #000 solid 0px;
    border-radius: 0px;
    padding: 20px;
    font-size: 16px;
    
}
.footer__flex{
    display: flex;
    gap: 20px;
}
.footer__info {
    min-width: calc(50% - 10px);
}
.footer__links {
    display: flex;
    min-width: calc(50% - 10px);
    position: relative;
    list-style: none;
    gap: 20px;
}
.footer__links li a {
    text-decoration: none;
}
.subfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}