
.body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: orangered;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.btn{
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
     font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
}
.footer {
    width: 100%;
    background-color: bisque;
    position: relative;
    display: flex;
    float: right;
    color: #000;
    font-family: sans-serif;
    border: #000 solid 0px;
    border-radius: 10px;
    padding: 0;
    font-size: larger;
}
.sp {
    display: inline-block;
    position: relative;
    padding-left: 35%;
}