.content__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}
.content {
    display: flex;
    width: calc(calc(100%) / 2);
    background-color: #000;
    background-image: var(--grad-yellow-orange);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.content > img {
    width: 35%;
    display: inline-flex;
}
.content p {
    display: block;
    margin: 8px 0;
}
.content .price {
    display: flex;
    width: 45px;
    font-size: larger;
    font-weight: bold;
    margin: 3px 15px 0 0;
    float: left;
    
}

.flex-column{
    flex-direction: column;
}
.licenses-wrapper{
    text-align: center;
    background-image: linear-gradient(45deg, #ffb02e, #b86e00);
}
.license-background{
    background-color: #DAF7A6;
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}