.sp {
    display: inline-block;
    position: relative;
    padding-left: 50%;
}

.content__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}
.content {
    display: flex;
    width: calc(calc(100% - 80px) / 2);
    background-color: #000;
    background-image: var(--grad-yellow-orange);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.content > img {
    width: 35%;
    display: inline-flex;
}
.content p {
    display: block;
    margin: 8px 0;
}
.content .price {
    display: flex;
    width: 45px;
    font-size: larger;
    font-weight: bold;
    margin: 3px 15px 0 0;
    float: left;
    
}

.flex-column{
    flex-direction: column;
}
