.sp {
    display: inline-block;
    position: relative;
    padding-left: 50%;
}
.content__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
}
.content {
    display: flex;
    width: calc(calc(100% - 60px) / 2);
    background-color: #000;
    background-image: linear-gradient(to right, #ffa500, #ff4500);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    
}
.content > img {
    width: 35%;
    display: inline-flex;
}
main > h2 {
    margin-left: 10px;
    color: red;
    text-align: center;
}
p {
    margin: 8px;
}
.price {
    display: flex;
    width: 45px;
    font-size: larger;
    font-weight: bold;
    margin: 3px 15px 0 15px;
    float: left;
    color: lightgoldenrodyellow
    
}
.key_discounts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(15deg, #FA4923, #FFE612);
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    

}
.key_discounts > h2{
    color: red;
    font-size: larger;
}
main > h2 {
    color: red;
    font-size: larger;
}
.discount {
    display: grid;
    border-radius: 7px;
    width: calc(50% - 30px);
    padding: 10px;
    background-image: linear-gradient(33deg, tomato, darkorange);
    font-size: large;
    margin: 5px 5px;
    
}
.licenses-wrapper{
    text-align: center;
    background-image: linear-gradient(45deg, #ffb02e, #b86e00);
}
.license-background{
    background-color: #DAF7A6;
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}