main{
    background-color: rgb(143, 228, 228);
}
.form__wrapper{
    width: min-content;
    margin: 0 auto;
}
input{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    padding: 4px 8px;
    background-color: rgb(193, 213, 213);

}