{% extends 'main/base.jinja' %}


{% block title %}Ваша корзина{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'cart/css/src/cart.css' ) }}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-500">Ваша корзина</h2>

    <div class="cart-layout">
        <div class="cart-items" data-cart-items>
            {% for item in cart %}
                <article class="cart-item" data-cart-item="{{ item.shaurma.id }}">
                    <img class="cart-item-image" src="{{ item.shaurma.picture.url }}" alt="{{ item.shaurma.name }}">

                    <div class="cart-item-main">
                        <h3 class="cart-item-title">{{ item.shaurma.name }}</h3>
                        <p class="cart-item-price">{{ item.shaurma.price }}₽ за штуку</p>

                        <div class="cart-item-quantity">
                            <a class="btn-qty"
                               href="{{ url( 'cart_remove', item.shaurma.id ) }}"
                               data-cart-action="remove">−</a>
                            <span class="qty" data-cart-item-qty>{{ item.quantity }}</span>
                            <a class="btn-qty"
                               href="{{ url( 'cart_add', item.shaurma.id ) }}"
                               data-cart-action="add">+</a>
                        </div>
                    </div>

                    <div class="cart-item-right">
                        <p class="cart-item-total">Сумма: <span data-cart-item-total>{{ item.total }}₽</span></p>
                        <a class="btn" href="{{ url( 'product', item.shaurma.slug ) }}">Подробнее</a>
                    </div>
                </article>
            {% endfor %}

            <div class="cart-empty" data-cart-empty {% if cart %}style="display: none;"{% endif %}>
                Корзина пока пуста. Добавьте любимую шаурму из каталога.
            </div>
        </div>

        <aside class="cart-summary grad-sand-orange">
            <h3>Итог по заказу</h3>
            <p class="cart-summary-total">К оплате: <span data-cart-total>{{ cart_total }}₽</span></p>
            <a class="btn btn-pay" href="#">Перейти к оплате</a>
        </aside>
    </div>

    <script src="{{ static( 'main/js/src/cart.js' ) }}"></script>
{% endblock %}
