.block-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.block-about__advantages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: 20px;
    background-color: inherit;
    border-radius: 20px;
}
.block__advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border: 2px solid var(--clr-orange);
    border-radius: 15px;
    background-color: var(--clr-sand-w40);
}
.block__advantage-icon{
    font-size: 100px;
}

.about-chef{
    width: 100%;
}
