.catalog_wrapper{
    gap: 15px;
}
.catalog_wrapper .catalog{
    width: calc(calc(100% - 102px) / 3);
    background-color: #ffe7d4;
    border: 2px solid #ff7433;
}
.catalog_name{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.catalog_name_text{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
}


.catalog_picture{
    width: 89%;
    margin: auto;
}
.catalog_button{
    text-align: center;
    font-weight: 500;
    justify-content: justify-end;
}



.basket{
    margin-left: 8px;
}