.catalog__wrapper{
    gap: 15px;
}
.catalog__wrapper .catalog{
    width: calc(calc(100% - 102px) / 3);
    background-color: #ffe7d4;
    border: 2px solid #ff7433;
}
.catalog__name{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Comfortaa";
}

.catalog_name_text{
    text-align: center;
    font-family: "Comfortaa";
}


.catalog__picture{
    width: 100%;
}
.catalog__button{
    text-align: center;
    font-weight: 500;
}

.basket{
    margin-left: 8px;
}