.block_feedback {
    width: calc(100% - 60px);
    background-color: #000;
    background-image: linear-gradient(to right, orange, orangered);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
.block-feedback__tag{
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    color: black;
    border-radius: 10px;
    display: inline-block;
}
.block-feedback__tag .name{
    font-weight: 700;
}
.block-feedback__tag .stars{
    color: yellow;
}
.block-feedback__tag .text{
    display: block;
    margin: 5px 0;

}
.block-feedback__tag .time{
    color: #333333;
}
