/* --------------------------------- global --------------------------------- */

/* ------------------------ body ------------------------ */

* {
    margin: 0;
    padding: 0;
}
:root{
    --site-width: 1200px
}
.body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* ----------------------- header ----------------------- */

.header{
    width: 100%;
    background-color: var(--clr-orange);
}
.header__inner{
    width: var(--site-width);
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
}
.logo{
    font-family: "Consolas", monospace;
    font-style: italic;   
    color: var(--clr-solar-w60);
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo h1{
    font-size: 32px;
}

/* ---------------------- part nav ---------------------- */

.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    list-style: none;
    gap: 4px;
}
.nav__item{}
.nav__item:first-child .nav-item__btn{
    padding-left: 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.nav__item:last-child .nav-item__btn{
    padding-right: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-item__btn{
    display: inline-block;
    padding: 6px 8px;
    text-decoration: none;
    background-color: var(--clr-white);
    color: var(--clr-black);
}
.nav-item__btn:hover{
    background-color: var(--clr-dark-gray);
    color: var(--clr-white);
}
.nav-item__btn:active{
    background-color: var(--clr-darker-gray);
    color: var(--clr-white);
}

/* --------------------- part user-menu ----------------- */

.user-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 10px 3px 3px;
    border-radius: 27px;
    text-decoration: none;
    color: var(--clr-black);
    background-color: var(--clr-white);
}

/* ------------------------ main ------------------------ */

.main{
    width: 100%;
}
.main__inner{
    width: var(--site-width);
    margin: 0 auto;
}

/* ----------------------- footer ----------------------- */

.footer {
    width: 100%;
    background-color: var(--clr-orange);
}
.footer__inner{
    width: var(--site-width);
    margin: 20px auto;
}
.footer_row{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.footer__bottom{
    display: flex;
    margin: 20px auto;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.errorlist{
    list-style-type: none;
}

/* ------------------------ media ----------------------- */

@media screen and (max-width: 1300px) {
    :root{
        --site-width: 1000px;
    }
    .header__inner,
    .main__inner,
    .footer__inner{
        width: var(--site-width);
        margin: 5px auto;
    }
    .nav {
        gap: 3px;
    }
    .footer__bottom{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    :root{
        --site-width: 600px;
    }
    .header__inner,
    .main__inner,
    .footer__inner{
        width: var(--site-width);
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    :root{
        --site-width: 300px;
    }
    .header__inner,
    .main__inner,
    .footer__inner{
        width: var(--site-width);
        margin: 10px auto;
    }
}

@media screen and (max-width: 320px) {
    :root{
        --site-width: 200px;
    }
    .header__inner,
    .main__inner,
    .footer__inner{
        width: var(--site-width);
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    .logo h1{
        font-size: 30px;
    }
}
