.licenses-wrapper{
    text-align: center;
    background-image: linear-gradient(45deg, #ffb02e, #b86e00);
}
.license-background{
    background-color: #DAF7A6;
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}