.news__header{
	position: relative;
	width: 100%;
	margin-top: 20px;
	max-height: 300px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}
.news-header__bg{
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	filter: blur(3px) brightness(0.4);
	transform: scale(1.05);
}
.news-header__title{
	position: absolute;
	bottom: 0;
	margin: 20px;
	padding: 20px;
	color: var(--clr-white);
}
.news-header__title .h1{
	margin: 0;
	margin-bottom: 10px;
}
.news-header__title .text-big{
	margin: 0;
}

.news__body{
	width: calc( 100% - 80px );
	padding: 20px 39px;
	background-color: var(--clr-white);
	border-left: 1px solid var(--clr-lighter-gray);
	border-right: 1px solid var(--clr-lighter-gray);
}

.news__footer{
	width: calc( 100% - 80px );
	margin-bottom: 20px;
	padding: 10px 40px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: var(--clr-lighter-gray);
}
