.block-product {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: calc(100% - 60px);
    background-color: #000;
    background-image: linear-gradient(to right, orange, orangered);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
.block-product_image{
    width: 100%;
}
.product-buttons{
        color: black;
        background-color: white;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        border: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        display: inline-block;
}
.block-product_column-left{
    width: 30%;
}
.block-product_column-right{
    width: 70%;
}    