.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1333);
    text-align: center;
    margin: 50px auto;
}
.wrapper .title{
    height: 120px;
    background: var(--clr-orangered);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form {
    padding: 25px 35px;
}
.wrapper form .row {
    height: 60px;
    margin-top: 15px;
    position: relative;
}
.wrapper form .row input{
    height: 100%;
    width: calc(100% - 79px);
    outline: none;
    padding-left: 70px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 18px;
    transition: all 0.5s ease;
}
.wrapper form .row i {
    position: absolute;
    width: 55px;
    height: 100%;
    color: #fff;
    font-size: 22px;
    background: var(--clr-orangered);
    border: 1px solid var(--clr-orangered);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .row input:focus {
    border-color: var(--clr-orangered);
}
form .row input::placeholder {
    color: #999;
}
.wrapper form .button input {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    padding-left: 0;
    background: var(--clr-orangered);
    cursor: pointer;
}
form .button input:hover {
    background: #12876f;
}