.block-slider{
    background-color: var(--clr-white);
    padding: 10px;
    padding-bottom: 1px;
    border-radius: 30px;
}

.slider{

}
.slider__slide{
    height: 100%;
}
.slider__image{
    width: 100%;
    border-radius: 20px;
}

.slider-nav{
    display: flex;
    margin: 20px 0;
    gap: 4px;
    justify-content: center;
}
.slider-nav__dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--clr-light-gray);
}
.slider-nav__dot.tns-nav-active{
    border: 1px solid var(--clr-darker-gray);
    background-color: var(--clr-darker-gray);
}