.wrapper {
    display: flex;
    text-align: center;
}

.user__pic{
    border-right: 20px solid rgb(255, 170, 22);
    width: 30%;
}
.user__pic-img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
.user__pic p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2rem;
}

.user__stats {
    font-size: 25px;
    width: 70%;
}
.user__stats-order-btn {
    background-color: var(--clr-sand);
    padding: 10px 30%;
    font-weight: 400;
}

.user__stats-order-p {
    padding: 15px 0;
}

