/* ------------------------------ parts / news ------------------------------ */

/* --------------------- base styles -------------------- */

.part-news{
	display: flex;
	gap: 20px;
	flex-direction: row;
	flex-wrap: nowrap;

	width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;

	color: black;
	background-color: white;
}
.part-comment:first-child{
	margin-top: 0;
}
.part-comment:last-child{
	margin-bottom: 0;
}

/* -------------------- inner blocks -------------------- */

.part-news__image{
	width: 40%;
	border-radius: 10px
}
.part-news__data{

}

/* --------------------- data of news ------------------- */

.part-news-data__description{
	height: max-content;
	padding: 10px 20px;
	border: 1px solid var(--clr-lighter-gray);
	border-radius: 10px
}

/* --------------------- tags of news ------------------- */

.part-news__tags{
	display: flex;
	gap: 8px
}
.part-news__tags .tag{
	text-decoration: none;
	padding: 6px 10px;
	border-radius: 5px;
	background-color: var( --clr-lighter-gray );
	color: var( --clr-black );
}
