{% extends 'main/base.html' %}
{% load static %}


{% block title %}Наши адреса{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/address.css' %}">
{% endblock %}


{% block main %}
    <div class="address">
        <h2 class="h1 text-center">Наши заведения:</h2>
        <div class="address__blocks block block-columns block-columns-2">
            <div class="address__block block-columns-item block-shaurma">
                <img class="address__block-pic" src="../../media/location_images/Putins-house.png" alt="Дворец-Путина" srcset="">
                <div class="address__block-text">
                    <h3 class="">Дворец Пу-Тяна</h3>
                    <div class="address__block-buttons">
                        <a class="btn" href="https://maps.google.com/">Открыть карту</a>
                        <a href="" class="btn">Заказать здесь</a>
                    </div>
                </div>
            </div>

            <div class="address__block block-columns-item block-shaurma">
                <img class="address__block-pic" src="../../media/location_images/Putins-house.png" alt="Дворец-Путина" srcset="">
                <div class="address__block-text">
                    <h3 class="">Ул. Пушкина, д. 2</h3>
                    <div class="address__block-buttons">
                        <a class="btn" href="https://maps.google.com/">Открыть карту</a>
                        <a href="" class="btn">Заказать здесь</a>
                    </div>
                </div>
            </div>

            <div class="address__block block-columns-item block-shaurma">
                <img class="address__block-pic" src="../../media/location_images/Putins-house.png" alt="Дворец-Путина" srcset="">
                <div class="address__block-text">
                    <h3 class="">Ул. Пушкина, д. 2</h3>
                    <div class="address__block-buttons">
                        <a class="btn" href="https://maps.google.com/">Открыть карту</a>
                        <a href="" class="btn">Заказать здесь</a>
                    </div>
                </div>
            </div>

            <div class="address__block block-columns-item block-shaurma">
                <img class="address__block-pic" src="../../media/location_images/Putins-house.png" alt="Дворец-Путина" srcset="">
            </div>
        </div>
    </div>
{% endblock %}