{% extends 'main/base.html' %}
{% load static %}


{% block title %}Наши адреса{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/address.css' %}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-500">Наши заведения</h2>
  
    {% for location in locations %}
        <div class="block block-trade">
            <h3 class="text-big">{{ location.name }}</h3>
            <p class="text">{{ location.description }}</p>
            <span class="block-trade__tag">{{ location.сontacts }}</span>
            <span class="block-trade__tag">{{ location.city  }}</span>
            <span class="block-trade__tag">{{ location.opening_hours  }}</span>            
        </div>
    {% endfor %}

{% endblock %}