{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/address.css' %}">
{% endblock %}

{% block main %}
    <div class="block-sale">
        <h2>Мы находимся на зведе смерти.</h2>
        <a class="block-sale__link" href="catalog.html">Ищите нас там.</a>

    </div>
    <div class="block-sale">
        <h2>Мы находимся на Болоте шрека.</h2>
        <a class="block-sale__link" href="catalog.html">Ищите нас там.</a>
        
    </div>
    <div class="block-sale">
        <h2>Мы находимся на  Пушкина 22.</h2>
        <a class="block-sale__link" href="catalog.html">Ищите нас там.</a>
        
    </div>
    <div class="block-sale">
        <h2>Мы находимся на Дворце Путина.</h2>
        <a class="block-sale__link" href="catalog.html">Ищите нас там.</a>
        
    </div>
    <div class="block-sale">
        <h2>Мы находимся на Ленина 5.</h2>
        <a class="block-sale__link" href="catalog.html">Ищите нас там.</a>
        
    </div>
    <div class="block-sale">
        <h2>Мы находимся на Сталина 8.</h2>
        <a class="block-sale__link" href="catalog.html">Ищите нас там.</a>
        
    </div>
{% endblock %}