<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ШаурМания | {% block title %}Лучший сайт по продаже шаурмы{% endblock %}</title>

    <link rel="shortcut icon" href="{{ static( 'favicon.ico' ) }}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ static( 'main/css/lib/colors.css'                         ) }}">
    <link rel="stylesheet" href="{{ static( 'main/css/src/global.css'                         ) }}">
    <link rel="stylesheet" href="{{ static( 'main/css/src/catalog.css'                        ) }}">
    <link rel="stylesheet" href="{{ static( 'main/css/lib/buttons.css'                        ) }}">
    <link rel="stylesheet" href="{{ static( 'main/css/lib/blocks.css'                         ) }}">
    <link rel="stylesheet" href="{{ static( 'main/css/lib/text.css'                           ) }}">
    <link rel="stylesheet" href="{{ static( 'main/css/lib/forms.css'                          ) }}">
    <link rel="stylesheet" href="{{ static( 'main/assets/fontawesome/css/fontawesome.min.css' ) }}">
    <link rel="stylesheet" href="{{ static( 'main/assets/fontawesome/css/solid.min.css'       ) }}">

    {% block links %}{% endblock %}
</head>

<body class="body">
    <header class="header">
        <div class="header__inner">
            <a class="logo" href="{{ url( 'index' ) }}">
                <img src="{{ static( 'main/img/logo/minimal.png' ) }}" alt="">
                <h1>ШаурМания</h1>
            </a>

            {% include 'main/_parts/navigation.jinja' %}
        </div>
    </header>
    
    <main class="main">
        <div class="main__inner">
            {% block main %}{% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="footer__inner">
            <div class="footer_row">
                <div>
                    <a class="logo" href="{{ url( 'index' ) }}">
                        <img src="{{ static( 'main/img/logo/minimal.png' ) }}" alt="">
                        <h1>ШаурМания</h1>
                    </a>

                    <p>Вкусная шаурма с доставкой.</p>
                </div>

                {% include 'main/_parts/navigation_footer.jinja' %}
            </div>

            <div class="footer__bottom">
                <p>Работаем с <b>2020</b> года</p>
                <p>Телефон: <b>88000000000</b></p>
                <p>Email: <b>info@shaurmania.ru</b></p>
                <p>Офис: <b>Луна, кратер Шаурмечный, 29</b></p>
            </div>
        </div>
    </footer>
</body>
</html>
