{% extends 'main/base.html' %}
{% load static %}


{% block title %}Каталог{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/catalog.css' %}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-400">Наш каталог шаурмы</h2>
    
    <div class="block block-columns block-columns-3 catalog__wrapper">
        {% for food in shaurma %}
            <div class="block-columns-item catalog">
                <p class="catalog__name">{{ food.name }}</p>
                <img class="catalog__picture" src="{{ food.picture.url }}" alt="{{ food.name }}">
                <div class="catalog__button"><a class="btn_catalog">{{ food.price }}₽<i class="fa-solid fa-basket-shopping-simple"></i></a></div>
            </div>
        {% endfor %}
    </div>    
{% endblock %}