{% extends 'main/base.jinja' %}


{% block title %}Каталог{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'main/css/src/catalog.css' ) }}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-400">Наш каталог шаурмы</h2>
    
    <div class="block block-columns block-columns-3 catalog__wrapper">
        {% for catalog in shaurma %}
            <h2 style="width: 100%;">{{ catalog.name }}</h2>

            {% for food in catalog.shaurmas.all() %}
                <div class="block-columns-item catalog">
                    <img class="catalog__picture" src="{{ food.picture.url }}" alt="{{ food.name }}">

                    <p class="catalog__name">{{ food.name }}</p>

                    <p class="catalog__name">{{ food.short_text }}</p>

                    <div class="catalog__button">
                        <a class="btn_catalog" href="{{ url( 'cart_add', food.id ) }}">{{ food.price }}₽
                            <i class="fa-solid fa-basket-shopping-simple basket"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>    
{% endblock %}
