{% extends 'main/base.html' %}
{% load static %}


{% block title %}Отзывы на шаурму{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/feedback.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/_parts/comment.css' %}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-500">Легендарные отзывы на нашу шаурму</h2>

    <div class="block_feedback">
        {% for review in reviews %}
	        {% include 'main/_parts/comment.html' %}
        {% endfor %}
    </div>
{% endblock %}
