{% extends 'main/base.html' %}
{% load static %}


{% block title %}Отзывы на шаурму{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/feedback.css' %}">
{% endblock %}


{% block main %}
    <div class="block_feedback">
        <h2>Отзывы на шаурму.</h2>

        <span class="block-feedback__tag">Здесь вы можите найи отзовы от других покупателей.</span>

        {% for review in reviews %}
            <p class="block-feedback__tag">
                <span class="name">{{ review.name }}</span>
                <span class="stars">
                    {% if review.stars == 5 %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% elif review.stars == 4 %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% else %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% endif %}
                </span>
                <span class="text">
                    {{ review.text }}
                </span>
                <span class="time">{{ review.date }}</span>
            </p>
        {% endfor %}

    </div>
{% endblock %}