{% extends 'main/base.html' %}
{% load static %}


{% block title %}Главная{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/index.css' %}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-500">Лучшая шаурма в мире</h2>

    <div class="block block-columns block-columns-2">
        {% for food in shaurma %}
            <div class="block-columns-item grad-sand-orange block-shaurma">
                <img src="{{ food.picture.url }}" alt="{{ food.name }}">
                <div class="block-shaurma__content">
                    <h3>{{ food.name }}</h3>
                    <p class="description">{{ food.compound }}</p>
                    <p class="price">{{ food.price }}₽ / {{ food.weight }}гр</p>
                    <div>
                        <button class="btn">В корзину</button>
                        <a class="btn" href="{% url 'product' product_id=food.id %}">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="h2 text-center font-comfortaa-400">Текущие акции</h2>

    <div class="block block-columns block-columns-2">
	    {% for stock in stocks %}
	        <div class="block-columns-item grad-sand-orange block-sale">
	            <h3 class="text-big">{{ stock.name }}</h3>
		        <p>{{ stock.short_text }}</p>
	            <a href="{% url 'stocks'%}" class="btn">Подробнее</a>
	        </div>
	    {% endfor %}
    </div>

    <h2 class="h2 text-center font-comfortaa-400">Приходите за покупками</h2>

    <div class="block block-columns block-columns-2">
        <div class="block-columns-item grad-sand-orange block-sale">
            <p>Наше ШаурМания на Болоте шрека.</p>
            <a href="{% url 'address'%}" class="btn">За покупками</a>
        </div>

        <div class="block-columns-item grad-sand-orange block-sale">
            <p>Наше ШаурМания на Звезде смерти.</p>
            <a href="{% url 'address'%}" class="btn">За покупками</a>
        </div>

        <div class="block-columns-item grad-sand-orange block-sale">
            <p>Наше ШаурМания на Пушкина 22.</p>
            <a href="{% url 'address'%}" class="btn">За покупками</a>
        </div>

        <div class="block-columns-item grad-sand-orange block-sale">
            <p>Наше ШаурМания в Дворце Путина.</p>
            <a href="{% url 'address'%}" class="btn">За покупками</a>
        </div>

        <div class="block-columns-item grad-sand-orange block-sale">
            <p>Наше ШаурМания на Ленина 5. </p>
            <a href="{% url 'address'%}" class="btn">За покупками</a>
        </div>


        <div class="block-columns-item grad-sand-orange block-sale">
            <p>Наше ШаурМания на Сталина 8. </p>
            <a href="{% url 'address'%}" class="btn">За покупками</a>
        </div>
    </div>
{% endblock %}