{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/index.css' %}">
{% endblock %}

{% block main %}
<h2 class="h2">Самая популярная:</h2>

<div class="block block-columns block-columns-2">
    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/king_shava.png" %}" alt="Королевская шаурма">
        <div>
            <h3>Шаурма-Царь</h3>
            <p>Состав: лаваш армянский, свежий помидорка, салатик свежий, нежнейшая куринная грудка 350гр, вкуснейший сливочный сыр, майонез, и специи по выбору.</p>
            <p class="price">200₽</p>
            <button class="btn">В корзину</button>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>

    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/beef-shava.png" %}" alt="Шаурма-Говядина">
        <div>
            <h3>Шаурма-Говядина</h3>
            <p>Состав: лаваш армянский, свежий помидорка, салатик свежий, нежнейшее мясо говядины, вкуснейший сырок, майонез, кетчуп, смесь перцев щепотка.</p>
            <p class="price">200₽</p>
            <button class="btn">В корзину</button>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>

    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/sausage_shava.png" %}" alt="Шаурма-Сосиска">
        <div>
            <h3>Шаурма-Сосиска</h3>
            <p>Состав: лаваш армянский, свежий помидорка, салатик свежий, вкуснейшая сосиска, вкуснейший сливочный сыр, майонез, кетчуп, и специи по выбору.</p>
            <button class="btn">В корзину</button><p class="price">180₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>

    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/calf_shava.png" %}" alt="Шаурма-Телёнок">
        <div>
            <h3>Шаурма-Теленок</h3>
            <p>Состав: лаваш армянский, свежий помидорка, салатик свежий, сочнейшая телятинка 200гр, вкуснейший сыр колбасный, майонез, кетчуп, перчик черный щепотка.</p>
            <button class="btn">В корзину</button><p class="price">200₽</p>
            <a class="btn" href="Product.html">Подробнее</a> 

        </div>
    </div>
    
    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/шаурма_с_курицей.png" %}">
        <div>
            <h3>Шаурма-Курица</h3>
            <p>Состав: лаваш тонкий, свежий помидор, салат свежий, нежная куриная грудка 350 г, вкусный сливочный сыр, майонез и специи на выбор.</p>
            <button class="btn">В корзину</button><p class="price">200₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>
        
    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/шаурма_с_бараниной.png" %}">
        <div>
            <h3>Шаурма-Баранина</h3>
            <p>Состав: армянский лаваш, свежий помидор, свежий салат, нежная баранья грудка 350 г, вкусный сливочный сыр, майонез и специи на выбор.</p>
            <button class="btn">В корзину</button><p class="price">200₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>
            
    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/шаурма со свининой.png" %}">
        <div>
            <h3>Шаурма-Свинина</h3>
            <p>армянский лаваш, свежий помидор, свежий салат, нежная свиная грудка (350 г), вкусный сливочный сыр, майонез и специи на выбор.</p>
            <button class="btn">В корзину</button><p class="price">200₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>
    
    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/шаурма_индейкой.png" %}">
        <div>
            <h3>Шаурма-Индейка</h3>
            <p>Состав: армянский лаваш, свежий помидор, свежий салат, нежная куриная грудка (350 г), вкусный сливочный сыр, майонез и специи на выбор.</p>
            <button class="btn">В корзину</button><p class="price">200₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>
                    
    <div class="block-columns-item block-grad-orange block-shaurma">
        <img src="{% static "main/img/product/шаурма_король.png" %}">
        <div>
        <h3>Шаурма-Король</h3>
            <p>Состав: лаваш армянский, свежий помидорка, салатик свежий, нежнейшая куринная грудка 450гр, вкуснейший сливочный сыр, майонез, и специи по выбору.</p>
            <button class="btn">В корзину</button><p class="price">300₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>

    <div class="block-columns-item block-grad-orange block-shaurma">
    <img src="{% static "main/img/product/шаурма_шут.png" %}">
        <div>
            <h3>Шаурма-Шут</h3>
            <p>Состав: Никто его знает, даже мы сами</p>
            <button class="btn">В корзину</button><p class="price">200₽</p>
            <a class="btn" href="Product.html">Подробнее</a>
        </div>
    </div>
</div>

<h2 class="h2">Текущие акции:</h2>

<div class="block block-columns block-columns-2">
    <div class="block-columns-item block-grad-orange block-sale">
        <p>Новогодняя распродажа, скидки 50% на всё!</p>
        <a href="{% url 'sales'%}" class="btn">Подробнее</a>
    </div>

    <div class="block-columns-item block-grad-orange block-sale">
        <p>Каждую пятницу скидка 20% на случайную шаурму!</p>
        <a href="{% url 'sales'%}" class="btn">Подробнее</a>
    </div>
</div>

<h2 class="h2">Приходите за покупками:</h2>

<div class="block block-columns block-columns-2">
    <div class="block-columns-item block-grad-orange block-sale"> 
        <p>Наше ШаурМания на Болоте шрека.</p>
        <a href="{% url 'address'%}" class="btn">За покупками</a>
    </div>

    <div class="block-columns-item block-grad-orange block-sale"> 
        <p>Наше ШаурМания на Звезде смерти.</p>
        <a href="{% url 'address'%}" class="btn">За покупками</a>
    </div>

    <div class="block-columns-item block-grad-orange block-sale"> 
        <p>Наше ШаурМания на Пушкина 22.</p>
        <a href="{% url 'address'%}" class="btn">За покупками</a>
    </div>

    <div class="block-columns-item block-grad-orange block-sale"> 
        <p>Наше ШаурМания в Дворце Путина.</p>
        <a href="{% url 'address'%}" class="btn">За покупками</a>
    </div>

    <div class="block-columns-item block-grad-orange block-sale"> 
        <p>Наше ШаурМания на Ленина 5. </p>
        <a href="{% url 'address'%}" class="btn">За покупками</a>
    </div>


    <div class="block-columns-item block-grad-orange block-sale"> 
        <p>Наше ШаурМания на Сталина 8. </p>
        <a href="{% url 'address'%}" class="btn">За покупками</a>
    </div>
</div>
{% endblock %}