{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/licenses.css' %}">
{% endblock %}

{% block main %}
<h1 class="text-center">Лицензия на продажу самой лучшей шаурмы от Льва Троцкого.</h1>

<div class="trotcky-license-background">
    <p><b>1. Общие положения</b></p>
    <p>Настоящая лицензия предоставляет право на использование товарного знака «Шаурмания» для обозначения деятельности по продаже шаурмы с доставкой для мировой революции.</p>
    <p><b>2. Права и обязанности сторон.</b></p>
    <p>2.1. Владелец товарного знака «Шаурмания» предоставляет пользователю право использовать товарный знак в рамках, определённых настоящим документом.</p>
    <p>2.2. Пользователь обязуется соблюдать правила использования товарного знака, указанные в настоящем документе, и не нарушать права владельца товарного знака.</p>
    <p><b>3. Условия использования товарного знака.</b></p>
    <p>3.1. Товарный знак «Шаурмания» может быть использован пользователем исключительно в рамках деятельности по продаже шаурмы с доставкой.</p>
    <p>3.2. Использование товарного знака должно осуществляться в соответствии с законодательством Советского союза и международными нормами авторского права.</p>
    <p><b>4. Ответственность сторон.</b></p>
    <p>4.1. В случае нарушения условий настоящего документа пользователь несёт ответственность в соответствии с действующим законодательством Советского Союза.</p>
    <p>4.2. В случае нарушения прав владельца товарного знака «Шаурмания» владелец имеет право требовать возмещения убытков и применения мер ответственности, предусмотренных законодательством.</p>
    <p><b>5. Срок действия лицензии.</b></p>
    <p>Лицензия действует бессрочно, пока существует деятельность по продаже шаурмы с доставкой под товарным знаком «Шаурмания».</p>
    <p><b>6. Заключительные положения.</b></p>
    <p>6.1. Все изменения и дополнения к настоящему документу должны быть оформлены в письменном виде и подписаны обеими сторонами.</p>
    <p>6.2. Настоящий документ составлен в двух экземплярах, по одному для каждой стороны.</p>

</div>
{% endblock %}