{% extends 'main/base.jinja' %}


{% block title %}Наша лицензия{% endblock %}


{% block main %}
    <h2 class="h1 text-center">Лицензия на продажу шаурмы от Льва Троцкого</h2>

    <div class="block-trotcky-license">
        <p><b>1. Общие положения</b></p>
        <p>Настоящая лицензия предоставляет пользователю право на использование товарного знака «Шаурмания» для
        осуществления деятельности, связанной с продажей шаурмы с доставкой. Данное право предоставляется с целью
        содействия мировой революции и популяризации шаурмы как символа прогрессивных перемен, что подчеркивает
        важность этого продукта в современном обществе. Шаурма, как известное блюдо, становится не только
        гастрономическим удовольствием, но и культурным феноменом, объединяющим людей разных национальностей и
        традиций.</p>
        <p>Настоящий документ регламентирует использование товарного знака, устанавливает права и обязанности сторон,
        а также определяет условия, при которых данный знак может быть использован. Важно отметить, что соблюдение
        этих условий способствует поддержанию репутации товарного знака и его положительного имиджа на рынке.</p>
    
        <p><b>2. Права и обязанности сторон</b></p>
        <p><b>2.1.</b> Владелец товарного знака «Шаурмания» предоставляет пользователю неисключительное право на
        использование товарного знака, соблюдая условия и ограничения, изложенные в настоящем документе. Это право
        не передаётся третьим лицам и должно использоваться исключительно в рамках, установленных данным соглашением.</p>
        <p><b>2.2.</b> Пользователь обязуется:</p>
        <ul>
            <li>Соблюдать все правила использования товарного знака, изложенные в настоящем документе, включая
            требования к качеству продукции и стандартам обслуживания клиентов.</li>
            <li>Не допускать нарушений прав владельца на товарный знак, включая, но не ограничиваясь, его
            неправомерным использованием или искажением, что может привести к юридическим последствиям.</li>
            <li>Осуществлять деятельность под товарным знаком «Шаурмания» в строгом соответствии с действующим
            законодательством и международными нормами, что включает в себя соблюдение санитарных норм и правил
            безопасности.</li>
        </ul>
    
        <p><b>3. Условия использования товарного знака</b></p>
        <p><b>3.1.</b> Товарный знак «Шаурмания» может использоваться исключительно для обозначения деятельности по
        продаже шаурмы с доставкой. Любое другое использование должно быть предварительно согласовано с владельцем,
        чтобы избежать недоразумений и конфликтов.</p>
        <p><b>3.2.</b> Пользователь обязуется использовать товарный знак в строгом соответствии с действующим
        законодательством Советского Союза и международными нормами авторского права, включая уважение прав
        интеллектуальной собственности и добросовестное использование товарного знака, что подразумевает
        честное и этичное ведение бизнеса.</p>
    
        <p><b>4. Ответственность сторон</b></p>
        <p><b>4.1.</b> В случае нарушения пользователем условий настоящего документа, он несёт полную ответственность
        за свои действия, включая возможные штрафные санкции и обязательство возмещения убытков, понесённых
        владельцем товарного знака. Это может включать как финансовые, так и репутационные потери.</p>
        <p><b>4.2.</b> Владелец товарного знака имеет право на защиту своих прав всеми доступными законными способами,
        включая обращение в суд и требование компенсации за нанесённый ущерб, что является важным аспектом
        защиты интеллектуальной собственности.</p>
    
        <p><b>5. Срок действия лицензии</b></p>
        <p>Лицензия предоставляется на бессрочной основе, но может быть прекращена по инициативе владельца в случае
        прекращения деятельности под товарным знаком «Шаурмания» или при нарушении пользователем условий
        настоящего документа. Важно, чтобы обе стороны были осведомлены о своих правах и обязанностях в рамках
        данного соглашения.</p>
    
        <p><b>6. Заключительные положения</b></p>
        <p><b>6.1.</b> Все изменения, дополнения или расторжения настоящей лицензии должны быть оформлены в письменном
        виде и подписаны обеими сторонами. Это необходимо для обеспечения юридической силы любых изменений и
        предотвращения возможных недоразумений в будущем.</p>
        <p><b>6.2.</b> Настоящий документ составлен в двух экземплярах, по одному для каждой стороны, и оба экземпляра
        имеют равную юридическую силу. Каждая сторона должна хранить свой экземпляр в безопасном месте для
        дальнейшего использования и обращения к условиям лицензии при необходимости.</p>
        <p><b>6.3.</b> В случае возникновения споров стороны обязуются предпринимать все возможные усилия для их
        урегулирования путём переговоров. В случае невозможности достижения согласия споры подлежат рассмотрению
        в суде согласно действующему законодательству, что позволит обеспечить справедливое разрешение конфликта
        в соответствии с правовыми нормами.</p>
    </div>
{% endblock %}
