{% extends 'main/base.html' %}
{% load static %}


{% block title %}Наша лицензия{% endblock %}


{% block main %}
    <h1 class="text-center">Лицензия на продажу шаурмы от Льва Троцкого.</h1>

    <div class="block-trotcky-license">
        <p><b>1. Общие положения</b></p>
        <p>Настоящая лицензия предоставляет пользователю право на использование товарного знака «Шаурмания» для осуществления деятельности, связанной с продажей шаурмы с доставкой. Данное право предоставляется с целью содействия мировой революции и популяризации шаурмы как символа прогрессивных перемен.</p>
        <p>Настоящий документ регламентирует использование товарного знака, устанавливает права и обязанности сторон, а также определяет условия, при которых данный знак может быть использован.</p>

        <p><b>2. Права и обязанности сторон</b></p>
        <p><b>2.1.</b> Владелец товарного знака «Шаурмания» предоставляет пользователю неисключительное право на использование товарного знака, соблюдая условия и ограничения, изложенные в настоящем документе.</p>
        <p><b>2.2.</b> Пользователь обязуется:</p>
        <ul>
            <li>Соблюдать все правила использования товарного знака, изложенные в настоящем документе.</li>
            <li>Не допускать нарушений прав владельца на товарный знак, включая, но не ограничиваясь, его неправомерным использованием или искажением.</li>
            <li>Осуществлять деятельность под товарным знаком «Шаурмания» в строгом соответствии с действующим законодательством и международными нормами.</li>
        </ul>

        <p><b>3. Условия использования товарного знака</b></p>
        <p><b>3.1.</b> Товарный знак «Шаурмания» может использоваться исключительно для обозначения деятельности по продаже шаурмы с доставкой. Любое другое использование должно быть предварительно согласовано с владельцем.</p>
        <p><b>3.2.</b> Пользователь обязуется использовать товарный знак в строгом соответствии с действующим законодательством Советского Союза и международными нормами авторского права, включая уважение прав интеллектуальной собственности и добросовестное использование товарного знака.</p>

        <p><b>4. Ответственность сторон</b></p>
        <p><b>4.1.</b> В случае нарушения пользователем условий настоящего документа, он несёт полную ответственность за свои действия, включая возможные штрафные санкции и обязательство возмещения убытков, понесённых владельцем товарного знака.</p>
        <p><b>4.2.</b> Владелец товарного знака имеет право на защиту своих прав всеми доступными законными способами, включая обращение в суд и требование компенсации за нанесённый ущерб.</p>

        <p><b>5. Срок действия лицензии</b></p>
        <p>Лицензия предоставляется на бессрочной основе, но может быть прекращена по инициативе владельца в случае прекращения деятельности под товарным знаком «Шаурмания» или при нарушении пользователем условий настоящего документа.</p>

        <p><b>6. Заключительные положения</b></p>
        <p><b>6.1.</b> Все изменения, дополнения или расторжения настоящей лицензии должны быть оформлены в письменном виде и подписаны обеими сторонами.</p>
        <p><b>6.2.</b> Настоящий документ составлен в двух экземплярах, по одному для каждой стороны, и оба экземпляра имеют равную юридическую силу.</p>
        <p><b>6.3.</b> В случае возникновения споров стороны обязуются предпринимать все возможные усилия для их урегулирования путём переговоров. В случае невозможности достижения согласия споры подлежат рассмотрению в суде согласно действующему законодательству.</p>
    </div>

{% endblock %}