{% extends 'main/base.jinja' %}


{% block title %}Локации{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'main/css/src/location_detailed.css' ) }}">

{% endblock %}

    <div class="part-location_detail">

	<img class="part-location_detail__image"
	     src="{{ location_detail.picture.url }}"
	     alt="Изображение локации {{ location_detail.name }}">

	<div class="part-location__data">

{% block main %}
	
	<div class="content-box font-comfortaa-400">
			
	<div class="content-inner">
	<img src="{{location_detail.picture.url}}">
	<div class="text-block">
	<h2>{{location_detail.name}}</h2>
	<p>{{location_detail.description}}</p>
	<ul class="location-specs">
		<li>Планета: {{location_detail.planet}}</li>
		<li>Страна: {{location_detail.country}}</li>
		<li>Город: {{location_detail.city}}</li>
		<li>Адрес: {{location_detail.address}}</li>
		<li>Контакты: {{location_detail.contacts}}</li>
	</ul>
	</div>

	</div>

    </div>

{% endblock %}
