{% extends 'main/base.jinja' %}


{% block title %}Локации{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'main/css/src/location_detailed.css' ) }}">

{% endblock %}

    <div class="part-location_detail">

	<img class="part-location_detail__image"
	     src="{{ location_detail.picture.url }}"
	     alt="Изображение локации {{ location_detail.name }}">

	<div class="part-location__data">

{% block main %}
	
	<div class="block-location font-comfortaa-400">
		<div class="block-location__text">
			<h2 class="block-location__title">
				{{location_detail.name}}
			</h2>
			<p class="block-location__description">
				{{location_detail.description}}
			</p>

			<ul class="block-location__info">
				<li><b>Планета</b>: {{location_detail.planet}}</li>
				<li><b>Страна</b>: {{location_detail.country}}</li>
				<li><b>Город</b>: {{location_detail.city}}</li>
				<li><b>Адрес</b>: {{location_detail.address}}</li>
				<li><b>Контакты</b>: {{location_detail.contacts}}</li>
			</ul>
		</div>

		<img class="block-location__image"
			 src="{{location_detail.picture.url}}"
			 alt="{{location_detail.name}}">
    </div>

{% endblock %}
