{% extends 'main/base.jinja' %}


{% block title %}Локации{% endblock %}


{% block links %}
    

{% endblock %}

    <div class="part-location_detail">

	<img class="part-location_detail__image"
	     src="{{ location_detail.picture.url }}"
	     alt="Изображение локации {{ location_detail.name }}">

	<div class="part-location__data">

{% block main %}
	
	<div class="location-detailed-header__title">
			
    <h1>{{ location_detail.name }}</h1>
	<p class="text">{{ location_detail.description }}</p>

	</div>
	<div class="location-detailed-header__title">
			
    <h1>{{ location_detail.planet }}</h1>
	<p class="text">{{ location_detail.planet}}</p>

	</div>
    <div class="location-detailed-header__title">
			
    <h1>{{ location_detail.country }}</h1>
	<p class="text">{{ location_detail.country }}</p>

	</div>
    <div class="location-detailed-header__title">
			
    <h1>{{ location_detail.city }}</h1>
	<p class="text">{{ location_detail.city }}</p>

	</div>
    <div class="location-detailed-header__title">
			
    <h1>{{ location_detail.address }}</h1>
	<p class="text">{{ location_detail.address }}</p>

	</div>
    <div class="location-detailed-header__title">
			
    <h1>{{ location_detail.contacts }}</h1>
	<p class="text">{{ location_detail.contacts }}</p>

	</div>
    <div class="location-detailed-header__title">
			
	</div>



{% endblock %}
