{% extends 'main/base.html' %}
{% load static %}


{% block title %}Вход в систему{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/registration.css' %}">
{% endblock %}


{% block main %}
<div class="wrapper">
    <div class="title">Войти на сайт</div>
    <form action="#">
    <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Логин" required />
    </div>
    <div class="row">
        <i class="fas fa-lock"></i>
        <input type="text" placeholder="Пароль" required />
    </div>
    <div class="row button">
        <input type="submit" value="Войти" />
    </div>
    </form>
</div>
{% endblock %}