{% extends 'main/base.html' %}
{% load static %}


{% block title %}Вход в систему{% endblock %}


{% block main %}

<div class="form__wrapper">
    <div class="form-wrapper__title">Войти на сайт</div>

    <form class="form" method="POST">
        {% csrf_token %}
        
        <div class="form__row">
            <i class="form__icon fas fa-user"></i>
            {{ form.username }}
        </div>
        <div class="form__row">
            <i class="form__icon fas fa-lock"></i>
            {{ form.password }}
        </div>

        <div class="form__row">
            <input class="form__button" type="submit" value="Войти" />
        </div>
    </form>
</div>

{% endblock %}