{% extends 'main/base.html' %}
{% load static %}


{% block title %}Вход в систему{% endblock %}


{% block main %}

<div class="form__wrapper">
    <div class="form-wrapper__title">Войти на сайт</div>

    <form class="form" action="#">
        <div class="form__row">
            <i class="form__icon fas fa-user"></i>
            <label>
                <input class="form__input" type="text" placeholder="Логин" required />
            </label>
        </div>

        <div class="form__row">
            <i class="form__icon fas fa-lock"></i>
            <label>
                <input class="form__input" type="password" placeholder="Пароль" required />
            </label>
        </div>

        <div class="form__row">
            <input class="form__button" type="submit" value="Войти" />
        </div>
    </form>
</div>

{% endblock %}