{% extends 'main/base.jinja' %}


{% block title %}Новость{% endblock %}


{% block links %}

{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-500">Новость</h2>
{% endblock %}
