{% extends 'main/base.jinja' %}


{% block title %}Новости{% endblock %}


{% block links %}
	<link rel="stylesheet" href="{{ static( 'main/css/_parts/news.css' ) }}">
	<link rel="stylesheet" href="{{ static( 'main/css/_parts/pagination.css' ) }}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-500">Новости</h2>

	<div data-pagination-container="news-list-container">
		{% include 'main/_parts/news_list.jinja' %}
		{% include 'main/_parts/pagination.jinja' %}
	</div>

	<script src="{{ static( 'main/js/src/universal_ajax_loader.js' ) }}"></script>
{% endblock %}
