{% extends 'main/base.html' %}
{% load static %}


{% block title %}Наша продукция{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/product.css' %}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center">{{ product.name }}</h2>

    <div class="bloock_Product">
        <img src="{{ product.picture.url }}" alt="{{ product.name }}">
        <span class="stars"></span>
        <p class="text-big text-left">
            Состав:{{ product.compound }}
        </p>
        <p class="text-big text-left">
            {{ product.description }}
        </p>
        <p class="text-big text-left">Цена:{{ product.price  }}₽</p>
        <p class="text-big text-left">Вес:{{ product.weight }}г</p>
    </div>
{% endblock %}