{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/Product.css' %}">
{% endblock %}

{% block main %}
<div class="bloock_Product">
    <span class="name">Шаурма-Царь</span>
    <span class="stars"></span>
    <p class="bloock_Product">
        Состав: лаваш армянский, свежий помидорка, салатик свежий, нежнейшая куринная грудка 350гр, вкуснейший сливочный сыр, майонез, и специи по выбору.
    </p>
    <p class="bloock_Product">
        Царская шаурма — это уникальное сочетание традиций и современных технологий, которое удовлетворит вкусы даже самого взыскательного гурмана. Наша шаурма готовится только из свежих и качественных продуктов, что гарантирует неповторимый вкус и пользу для вашего здоровья.
    </p>
    <p class="bloock_Product">
        Мы предлагаем широкий ассортимент начинок, среди которых каждый найдёт что-то своё. Любители мяса оценят нашу царскую шаурму с настоящим шашлыком.
    </p>
    <p class="bloock_Product">
        Наша шаурма готовится прямо перед доставкой, поэтому вы всегда получите свежеприготовленное блюдо. Мы используем только натуральные специи и соусы, которые придают нашей шаурме неповторимый вкус и аромат.
    </p>
    <p class="bloock_Product">
        Не упустите возможность попробовать настоящую царскую шаурму прямо у себя дома! Закажите её на нашем сайте или позвоните нам по телефону. Мы гарантируем быструю доставку и отличное настроение!
    </p>
</div>

<div class="bloock_Product">
    <span class="name">Шаурма-Говядина</span>
    <span class="stars"></span>
    <p class="bloock_Product">
        Состав: лаваш армянский, свежий помидорка, салатик свежий, нежнейшее мясо говядины, вкуснейший сырок, майонез, кетчуп, смесь перцев щепотка.
    </p>
    <p class="bloock_Product">
        Шаурма-Говядина — это взрыв вкуса и веселья! Наша уникальная шаурма создана специально для тех, кто любит настоящую сочную говядину и хочет насладиться ею в уютной обстановке своего дома.
    </p>
    <p class="bloock_Product">
        Мы готовим шаурму из высококачественной говядины, которая обжаривается до золотистой корочки и становится мягкой внутри. Овощи, такие как свежие огурцы, помидоры, капуста и сладкий перец, придают нашей шаурме свежесть и аромат. А пикантный соус из майонеза и кетчупа добавляет сочности и насыщенности вкуса.
    </p>
    <p class="bloock_Product">
        Не забудьте про зелень — петрушка и укроп станут отличным дополнением к вашей шаурме. Они придадут ей неповторимый вкус и аромат.
    </p>
    <p class="bloock_Product">
        Шаурма-Говядина — это идеальный выбор для тех, кто хочет насладиться вкусной едой без лишних хлопот. Закажите нашу шаурму прямо сейчас и наслаждайтесь вкусом настоящей домашней шаурмы у себя дома!
    </p>
</div>
{% endblock %}