{% extends 'main/base.html' %}
{% load static %}


{% block title %}Наша продукция{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/product.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/src/feedback.css' %}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center">{{ product.name }}</h2>

    <div class="block-product">
        
        <div class="block-product_column-left">
            <img class="block-product_image" src="{{ product.picture.url }}" alt="{{ product.name }}">
            
            <p class="text-big text-left">Цена:{{ product.price  }}₽</p>
            
            <p class="text-big text-left">{{ product.weight }}г / {{product.calories}}ккал</p>

            <p class="text-big text-left">БЖУ:{{ product.proteins }}/{{ product.fats }}/{{ product.carbohydrates }}</p>
            
            <div class="product-buttons">
                <input class="product-buttons" type="submit" value="Добавить в корзину" />
            </div>
        
        </div>
        <div class="block-product_column-right">
            <span class="stars"></span>

            <p class="text-big text-left">
                Состав:{{ product.compound }}
            </p>

            <p class="text-big text-left">
                {{ product.description|linebreaksbr }}
            </p>

            {% for review in reviews %}
            <p class="block-feedback__tag">
                <span class="name">{{ review.name }}</span>
                <span class="stars">
                    {% if review.stars == 5 %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% elif review.stars == 4 %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% elif review.stars == 3 %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% elif review.stars == 2 %}
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    {% elif review.stars == 1 %}
                    <i class="fa-solid fa-star"></i>
                    {% endif %}
                </span>
                <span class="text">
                    {{ review.text }}
                </span>
                <span class="time">{{ review.date }}</span>
            </p>
        {% endfor %}

        </div>
        
        
    </div>
{% endblock %}