{% extends 'main/base.html' %}
{% load static %}


{% block title %}Акции{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/sales.css' %}">
{% endblock %}


{% block main %}

        <h2 class="h1 text-center font-comfortaa-400">Акции</h2>

        {% for stock in stocks %}
        <div class="block block-trade">
            <h3 class="text-big">{{ stock.name }}</h3>
            <p class="text">{{ stock.description }}</p>
            <span class="block-trade__tag">Скидка {{ stock.discount }}%</span>
            <span class="block-trade__tag">{{ stock.сondition }}</span>
            <span class="block-trade__tag">{{ stock.date_end }}</span>
            <a class="block-trade__tag block-trade__link" href="{% url 'catalog'%}">{{ stock.product }}</a>
        </div>
    
        {% endfor %}
        
{% endblock %}