{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/sales.css' %}">
{% endblock %}

{% block main %}
        <h1 class="stock">Акции</h1> 


        <div class="block-sale">
           

            <h2>Сейчас скидки до 50% на шаурму!</h2>
            <p>Скидки действуют тольуо для новых клиентов при покупке шаурмы более чем на 1000 рублей.</p>
            <span class="block-sale__tag">-50%</span>
            <span class="block-sale__tag">для новых поситителей</span>
            <span class="block-sale__tag">20.09.2024</span>
            <a class="block-sale__link" href="catalog.html">шаурма</a>
        </div>

        <div class="block-sale">
            <h2>Каждую пятницу скидка на одну из шаверм 20%.</h2>
            <p>Скидка действует на только одну шаурму которую вы выбрали.</p>
            <span class="block-sale__tag">-20%</span>
            <span class="block-sale__tag">одна шаурма</span>
            <span class="block-sale__tag">05.07.2024</span>
            <a class="block-sale__link" href="catalog.html">шаурма</a>
        </div>
{% endblock %}