{% extends 'main/base.jinja' %}


{% block title %}Поиск{% endblock %}


{% block main %}
    <h1 class="h1 text-center">Поиск</h1>

    <div class="form__wrapper">
        <form class="form" action="#">
            <div class="form__row">
                <i class="form__icon fas fa-search"></i>
                <label>
                    <input class="form__input" type="text" name="search" placeholder="Найти..." required />
                </label>
            </div>

            <div class="form__row">
                <input class="form__button" type="submit" value="Поиск" />
            </div>
        </form>
    </div>

    <hr class="hr">

    <h2 class="h2 text-center">{{ search }}</h2>

    <div class="block block-columns block-columns-3">
        {% for row in finded_rows %}

            <div class="block-columns-item grad-sand-orange block-search">
               <a href="{{ url( 'product', slug=row.slug ) }}">{{ row.name }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
