{% extends 'main/base.jinja' %}


{% block title %}Акции{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'main/css/src/sales.css' ) }}">
{% endblock %}


{% block main %}
    <h2 class="h1 text-center font-comfortaa-400">Акции</h2>

    {% for stock in stocks %}
        <div class="block block-trade">
            <h3 class="text-big">{{ stock.name }}</h3>
	        <p class="text">{{ stock.short_text }}</p>

            <span class="block-trade__tag">Скидка {{ stock.discount }}%</span>

	        {% if stock.date_start == stock.date_end %}
	            <span class="block-trade__tag">Только {{ stock.date_end }}</span>
	        {% else %}
		        <span class="block-trade__tag">{{ stock.date_start }} - {{ stock.date_end }}</span>
	        {% endif %}

            <a class="block-trade__tag block-trade__link" href="{{ url( 'stock', slug=stock.slug ) }}">Подробнее</a>
        </div>
    {% endfor %}
{% endblock %}
