{% extends 'main/base.jinja' %}


{% block title %}Акции{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'main/css/src/stock.css' ) }}">
{% endblock %}


{% block main %}
    <h2 class="h2 text-center font-comfortaa-500 ">{{ stock.name }}</h2>

   <div class="block-stock">

       <img class="part-stock_image" src="{{ stock.image.url }}" alt="">

      <div class="block-stock-text">

       <p class="text-center font-comfortaa-400">{{ stock.description }}</p>

       <p class="text-center font-comfortaa-400">{{ stock.condition }}</p>

       <p class="text-center font-comfortaa-400">Скидка {{ stock.discount }}%</p>

      </div>
   </div>
            <div class="stock-buttons">
                <input class="stock-buttons" type="submit" value="" />
            </div>

        </div>
    </div>
{% endblock %}
