{% extends 'main/base.html' %}
{% load static %}


{% block title %}Пользователь{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/user.css' %}">
{% endblock %}


{% block main %}
        <div class="container">
            <div class="wrapperemae"></div>
            <img class="userPhoto" src="{% static "main/img/images/emptyUserImg.png" %}" alt="userAvatar">
            <div class="username">Username</div>
            <div class="regSince">На сайте с: 12.10.2023</div>
            <div class="userLocation"><p>Находится в: United States, st. Ohio</p>
                <i class='fa-solid fa-flag-usa'></i>
            </div>
        </div>
        <section class="favDishes">
            <span id="favDishText">Любимые блюда:</span> <a href="{% url 'catalog' %}"><div class="favDish">Шаурма Говядина<br>Заказано: 52</div></a>
            <a href="{% url 'catalog' %}"><div class="favDish">Шаурма Свинина<br>Заказано: 24</div></a>
            <a href="{% url 'catalog' %}"><div class="favDish">Шаурма-Шут<br>Заказано: 22</div></a>
        </section>
{% endblock %}