{% extends "main/base.html" %}
{% load static %}


{% block title%}Профиль{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/user.css' %}">
{% endblock %}


{% block main %}
{% if is_owner %}
<div class="wrapper">
    <div class="user__pic">
        <img class="user__pic-img" src="../../static/main/img/users/Bilya_Herrington.jpg" alt="">
        {% if request.user.is_staff %}
        <p class="font-comfortaa-400">{{request.user.username}}
            <i style="color: orangered;" class="fa fa-star"></i>
        {% endif %}
        </p>
        <p class="font-comfortaa-400">{{ request.user.number }}</p>
        <p class="font-comfortaa-400">{{ request.user.email }}</p>
        <p class="font-comfortaa-400">Последний адрес: {{request.user.last_address}}</p>
        <p class="font-comfortaa-400">На сайте с {{ request.user.reg_date|date:"d.m.Y" }}</p>
        <div class="user__pic-interactives">
            <ul>
                <li class="order-history user__pic-interactives-btns"><i class="fa fa-history"></i><a href="">История заказов</a></li>
            </ul>
                <a class="btn" href="{% url 'logout' %}">
                    <i class="fa-solid fa-sign-out"></i>
                    Выход
                </a>
        </div>
    </div>
{% else %}
<div class="wrapper">
    <div class="user__pic">
        <p class="font-comfortaa-400 user__pic-text">{{ profile_user.username }}</p>
        <p class="font-comfortaa-400">На сайте с: {{ profile_user.reg_date|date:"d.m.Y" }}</p>
        <div class="user__pic-interactives">
            <ul>
                <li class="order-history user__pic-interactives-btns"><i class="fa fa-history"></i><a href="">История заказов (239)</a></li>
                <li class="report-btn user__pic-interactives-btns"><i class="fa fa-exclamation-triangle"></i><a href="">Жалоба на профиль</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}