{% extends 'main/base.html' %}
{% load static %}


{% block title %}Пользователь{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/user.css' %}">
{% endblock %}


{% block main %}
<div class="wrapper">
    <div class="user__pic">
        <img class="user__pic-img" src="../../static/main/img/users/Bilya_Herrington.jpg" alt="">
        <p class="font-comfortaa-400">Bilya Herrington</p>
        <p class="font-comfortaa-400">+7 959 657 96 45</p>
        <p class="font-comfortaa-400">herigton.gymgmail.com</p>
        <p class="font-comfortaa-400">Aдрес: gym5</p>
        <p class="font-comfortaa-400">На сайте с 20.04.2024</p>
        <div class="user__pic-interactives">
            <ul>
                <li class="order-history user__pic-interactives-btns"><i class="fa fa-history"></i><a href="">История заказов</a></li>
            </ul>
                {% if request.user.is_authenticated %}
                <a class="btn" href="{% url 'logout' %}">
                    <i class="fa-solid fa-sign-out"></i>
                    Выход
                </a>
                    {{ else }}
                {% endif %}
        </div>
    </div>
<div class="user__stats">
    <div class="user__stats-orders">
        <p class="user__stats-order-p">Создано заказов: 239 шаурм. </p>
        <p class="user__stats-order-p">Любимая шаурма:</p>
    </div>
    <a class='user__stats-order-btn btn' href="{% url 'product' product_id=13 %}">шаурма-говядина</a></p>
    <a class='user__stats-order-btn btn' href="{% url 'feedback' %}">Отзывы</a></p>

</div>
</div>
{% endblock %}