{% extends "main/base.jinja" %}


{% block title%}Профиль{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{{ static( 'main/css/src/user.css' ) }}">
{% endblock %}


{% block main %}
	{% if is_owner %}
		<div class="wrapper">
		    <div class="user__pic">
		        {% if profile_user.avatar %}
		        	<img class="user__pic-img" src="{{ profile_user.avatar_256x.url }}" alt="">
		        {% else %}
		        	<img class="user__pic-img" src="{{ static( 'main/img/avatar/avatar_015.png' ) }}" alt="">
		        {% endif %}

		        <p class="font-comfortaa-400 user__pic-text">
		        	{{ profile_user.username }}
		        	{% if profile_user.is_staff %}
		        		<i style="color: orangered;" class="fa fa-star"></i>
		        	{% endif %}
		        </p>

		        <p class="font-comfortaa-400">{{ profile_user.phone }}</p>
		        <p class="font-comfortaa-400">{{ profile_user.email }}</p>
		        <p class="font-comfortaa-400">На сайте уже {{ profile_user.register_at|timesince }}</p>

		        <div class="user__pic-interactives">
		            <ul>
		                <li class="order-history user__pic-interactives-btns">
			                <i class="fa fa-history"></i>
			                <a href="">История заказов</a>
		                </li>
		            </ul>
	                <a class="btn" href="{{ url( 'logout' ) }}">
	                    <i class="fa-solid fa-sign-out"></i>
	                    Выход
	                </a>
		        </div>
		    </div>
		    <div class="user__stats">
		    	<p class="user__stats-order-p">Добро пожаловать в ваш профиль!</p>
		    	<a class="btn user__stats-order-btn" href="{{ url('catalog') }}">Перейти в каталог</a>
		    	<div class="user__stats-achievements">
		    		<span><i class="fa fa-award"></i></span>
		    		<span><i class="fa fa-heart"></i></span>
		    		<span><i class="fa fa-crown"></i></span>
		    	</div>
		    </div>
		</div>
	{% else %}
		<div class="wrapper">
		    <div class="user__pic">
		        {% if profile_user.avatar %}
		        	<img class="user__pic-img" src="{{ profile_user.avatar_256x.url }}" alt="">
		        {% else %}
		        	<img class="user__pic-img" src="{{ static( 'main/img/avatar/avatar_015.png' ) }}" alt="">
		        {% endif %}
		        <p class="font-comfortaa-400 user__pic-text">
		        	{{ profile_user.username }}
		        	{% if profile_user.is_staff %}
		        		<i style="color: orangered;" class="fa fa-star"></i>
		        	{% endif %}
		        </p>
		        <p class="font-comfortaa-400">На сайте уже {{ profile_user.register_at|timesince }}</p>

		        <div class="user__pic-interactives">
		            <ul>
		                <li class="order-history user__pic-interactives-btns">
			                <i class="fa fa-history"></i><a href="">История заказов</a>
		                </li>
		                <li class="report-btn user__pic-interactives-btns">
			                <i class="fa fa-exclamation-triangle"></i><a href="">Жалоба на профиль</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		    <div class="user__stats">
		    	<p class="user__stats-order-p">Это публичный профиль пользователя.</p>
		    	<a class="btn user__stats-order-btn" href="{{ url('catalog') }}">Смотреть каталог</a>
		    	<div class="user__stats-achievements">
		    		<span><i class="fa fa-award"></i></span>
		    		<span><i class="fa fa-heart"></i></span>
		    		<span><i class="fa fa-crown"></i></span>
		    	</div>
		    </div>
		</div>
	{% endif %}
{% endblock %}
