{% extends 'main/base.html' %}
{% load static %}


{% block title %}Пользователь{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/src/user.css' %}">
{% endblock %}


{% block main %}
<div class="wrapper">
    <div class="user__pic">
        <img class="user__pic-img" src="../../static/main/img/users/Bilya_Herrington.jpg" alt="">
        <p class="font-comfortaa-400 user__pic-text">Bilya Herrington</p>
        <p class="font-comfortaa-400">На сайте с: 20.04.2024</p>
        <div class="user__pic-interactives">
            <ul>
                <li class="order-history user__pic-interactives-btns"><i class="fa fa-history"></i><a href="">История заказов (239)</a></li>
                <li class="report-btn user__pic-interactives-btns"><i class="fa fa-exclamation-triangle"></i><a href="">Жалоба на профиль</a></li>
            </ul>
        </div>
    </div>
<div class="user__stats">
    <div class="user__stats_orders">
        <p class="h3 font-comfortaa-400">Недавние достижения</p>
        <div class="user__stats-achievements">
            <div class="user__stats-achievements-achievement">
                <img src="{% static 'main/img/achievements/krasnorechie.png' %}">
            </div>
            <div class="user__stats-achievements-achievement">
                <img src="{% static 'main/img/achievements/FBIOpenUp.png' %}">
            </div>
        </div>
        <p class="user__stats-order-p">Любимая шаурма:</p>
    </div>
    <a class='user__stats-order-btn btn' href="{% url 'product' product_id=13 %}">шаурма-говядина</a></p>
</div>
</div>
{% endblock %}