<div class="part-location">
	<img class="part-location__image"
	     src="{{ location.picture.url }}"
	     alt="Изображение локации {{ location.name }}">

	<div class="part-location__data">
		<div class="part-location-data__description">
			<h2 class="text-big font-comfortaa-600">{{ location.name }}</h2>

	        <p class="text">{{ location.description }}</p>
		</div>

		<a class="text btn-full"
		   href="{{ url( 'location', slug = location.slug ) }}">
			Подробнее
		</a>
	</div>
</div>
