<div class="block block-trade">
    <img class="picture-location" src="{{ location.picture.url }}" alt="">
    <div class="location-description">
        <h3 class="text-big">{{ location.name }}</h3>
        <p class="text">{{ location.description }}</p>
        <span class="block-trade__tag">{{ location.contacts }} |</span>
        <span class="block-trade__tag">{{ location.city  }} |</span>
        <span class="block-trade__tag">{{ location.open_hours  }} - {{ location.close_hours }}</span>
    </div>
</div>