<ul class="nav">
    <li class="nav__item">
        <a href="{{ url( 'catalog' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-warehouse"></i>
            Каталог
        </a>
    </li>

    <li class="nav__item">
        <a href="{{ url( 'search' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            Поиск
        </a>
    </li>

    <li class="nav__item">
        <a href="{{ url( 'stocks' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-percent"></i>
            Акции
        </a>
    </li>

    <li class="nav__item">
        <a href="{{ url( 'feedback' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-comment"></i>
            Отзывы
        </a>
    </li>

	<li class="nav__item">
        <a href="{{ url( 'news' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-newspaper"></i>
            Новости
        </a>
    </li>

    <li class="nav__item">
        <a href="{{ url( 'locations' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-location-dot"></i>
            Адрес
        </a>
    </li>

    <li class="nav__item">
        <a href="{{ url( 'cart' ) }}" class="nav-item__btn">
            <i class="fa-solid fa-basket-shopping-simple"></i>
            Корзина
        </a>
    </li>
</ul>
