<ul class="nav">
    <li>
        <a href="{% url 'catalog' %}" class="btn">
            <i class="fa-solid fa-warehouse"></i>
            Каталог
        </a>
    </li>

    <li>
        <a href="{% url 'search' %}" class="btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            Поиск
        </a>
    </li>

    <li>
        <a class="btn" href="{% url 'sales' %}">
            <i class="fa-solid fa-percent"></i>
            Акции
        </a>
    </li>

    <li>
        <a href="{% url 'feedback' %}" class="btn">
            <i class="fa-solid fa-comment"></i>
            Отзывы
        </a>
    </li>

    <li>
        <a href="{% url 'user' %}" class="btn">
            <i class="fa-solid fa-user"></i>
            Пользователь
        </a>
    </li>

    <li>
        <a href="{% url 'reg' %}" class="btn">
            <i class="fa-solid fa-address-card"></i>
            Регистрация
        </a>
    </li>

    <li>
        <a class="btn" href="{% url 'address' %}">
            <i class="fa-solid fa-location-dot"></i>
            Адрес
        </a>
    </li>

    <li>
        <a class="btn" href="{% url 'login' %}">
            <i class="fa-solid fa-envelope"></i>
            Вход
        </a>
    </li>

    <li>
        <a href="{% url 'cart' %}" class="btn">
            <i class="fa-solid fa-basket-shopping-simple"></i>
            Корзина
        </a>
    </li>
</ul>