<div class="part-news">
	<img class="part-news__image"
	     src="{{ news.picture.url }}" alt="">

	<div class="part-news__body">
		<h2 class="text-big font-comfortaa-600">{{ news.title }}</h2>

		<p class="text">{{ news.short_text }}</p>
	</div>
</div>