<div class="pagination">
    {% if page_obj.has_previous() %}
        <a class="pagination__btn" href="?page=1">
            <i class="fa-solid fa-backward"></i>
        </a>

        <a class="pagination__btn" href="?page={{ page_obj.previous_page_number }}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    {% else %}
        <button class="pagination__btn" disabled>
            <i class="fa-solid fa-backward"></i>
        </button>

        <button class="pagination__btn" disabled>
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="pagination__text">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        {% elif num > page_obj.number - 4 and num < page_obj.number + 4 %}
            <a class="pagination__btn" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
        <a class="pagination__btn" href="?page={{ page_obj.next_page_number }}">
            <i class="fa-solid fa-arrow-right"></i>
        </a>

        <a class="pagination__btn" href="?page={{ page_obj.paginator.num_pages }}">
            <i class="fa-solid fa-forward"></i>
        </a>
    {% else %}
        <button class="pagination__btn" disabled>
            <i class="fa-solid fa-arrow-right"></i>
        </button>

        <button class="pagination__btn" disabled>
            <i class="fa-solid fa-forward"></i>
        </button>
    {% endif %}
</div>
